<%- partial('../home/header')%>

<div class="page-marge">
	<div class="inspiration">
		<div class="welcome-text">
			<h3><br/><br/>Rejoins la communauté !</h3>

			<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
			<h4>Retrouve tes amis carrotmobbers<br/>grâce à Facebook !</h4>
			<div class="center-text">
                <% if (user && user.id) { %>
                <form method="post" action="/logout">
                    <button class="btn-facebook" type="submit">FB signout</button>
                    <input type="hidden" name="next" value="<%= req.originalUrl %>" />
                </form>
                <% } else { %>
                <form method="post" action="/fbsignin">
                    <button class="btn-facebook" type="submit">Large button</button>
                </form>
                <% } %>
			</div>
			<div class="separator">
			</div>
			<h3>Apprenons à nous connaître.</h3>

			<table class="choose-profil" align="center">
				<tbody>
					<tr>
						<td><img src="/img/register_girl.png" class="img-profil selected"></td>
						<td><img src="/img/register_boy.png" class="img-profil"></td>
					</tr>
				</tbody>
			</table>

		<div class="center-text">
            <form role="form" class="form-horizontal" method="post" action="/register">
                <div class="control-group">
                    <% if (errors && errors['inputFirstName']) { %>
                    <div class="alert alert-danger"><%= errors['inputFirstName'] %></div>
                    <% } %>
                    <div class="controls <%= errors ? (errors['inputFirstName'] ? 'has-error' : 'has-success') : '' %>">
                        <input class="form-control" type="text" id="inputFirstName" name="inputFirstName" placeholder="prénom" value="<%= user ? user.firstname : '' %>">
                    </div>
                </div>
                <div class="control-group">
                    <% if (errors && errors['inputLastName']) { %>
                    <div class="alert alert-danger"><%= errors['inputLastName'] %></div>
                    <% } %>
                    <div class="controls <%= errors ? (errors['inputLastName'] ? 'has-error' : 'has-success') : '' %>">
                        <input class="form-control" type="text" id="inputLastName" name="inputLastName" placeholder="nom" value="<%= user ? user.lastname : '' %>">
                    </div>
                </div>
                <div class="control-group">
                    <% if (errors && errors['inputTown']) { %>
                    <div class="alert alert-danger"><%= errors['inputTown'] %></div>
                    <% } %>
                    <div class="controls <%= errors ? (errors['inputTown'] ? 'has-error' : 'has-success') : '' %>">
                        <input class="form-control" type="text" id="inputTown" name="inputTown" placeholder="ville" value="<%= user ? user.city : '' %>">
                    </div>
                </div>
                <div class="control-group">
                    <% if (errors && errors['inputEmail']) { %>
                    <div class="alert alert-danger"><%= errors['inputEmail'] %></div>
                    <% } %>
                    <div class="controls <%= errors ? (errors['inputEmail'] ? 'has-error' : 'has-success') : '' %>">
                        <input class="form-control" type="text" id="inputEmail" name="inputEmail" placeholder="mail" value="<%= user ? user.email : '' %>">
                    </div>
                </div>
                <% if (!user || !user.id) { %>
                <div class="control-group">
                    <% if (errors && errors['inputPassword']) { %>
                    <div class="alert alert-danger"><%= errors['inputPassword'] %></div>
                    <% } %>
                    <div class="controls <%= errors && errors['inputPassword'] ? 'has-error' : '' %>">
                        <input class="form-control" type="password" id="inputPassword" name="inputPassword" placeholder="mot de passe">
                    </div>
                </div>
                <% } %>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn-submit">Je deviens Carrotmobber !</button>
                    </div>
                </div>
            </form>
		</div>
	</div>
	
	<div class="bottom-shadow">
	</div>

</div>

<br/><br/><br/>
<%- partial('../partials/footer')%>
