<%- partial('../partials/header')%>

<script>
function changeFormat() {
	var date = $("#startDateStr").val();

	date = date.replace(':', '/');
	date = date.replace(' ', ':');
	date += "/00";
	$("#startDateStr").val(date);

}
</script>

<div class="page-marge">
	<div class="inspiration">
		<div class="welcome-text">
			<h2><br/><br/>Il est temps de passer à l'action !</h2>

			<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
	<div class="title">		
    <h3> Créer ma Carrotmob </h3>
	</div>

			<div class="center-text">
				<form class="form-horizontal" action="/campaign/create" method="POST">
			
			<% if (errors && errors['inputTitle']) { %>
							<div class="error-msg"><span class="glyphicon glyphicon glyphicon-remove"></span>
							<%= errors['inputTitle'] %></div> 
			<%}%>
					<div class="control-group">
			    		<div class="controls <%= errors ? (errors['inputTitle'] ? 'has-error' : 'has-success') : '' %>">
			      			<input class="form-control" type="text" id="inputTitle" placeholder="Titre" name="title" value="<%= campaign ? campaign.title : '' %>">
			    		</div>
					</div>

					<div class="control-group">
					    <div class="controls">
    <div class="row">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1' data-date-format="DD/MM/YYYY hh:mm">
                <% 
                	//campaign.startDateStr = campaign.startDateStr.replace(':', ' ');
                	//campaign.startDateStr = campaign.startDateStr.substr(0, campaign.startDateStr.length() - 3);
                %>
                    <input type='text' class="form-control" id="startDateStr" name="startDateStr" values="<%= campaign ? campaign.startDateStr : 'toto' %>"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
        </div>
</div>
					    </div>
					</div>

			<% if (errors && errors['inputAddr']) { %>
							<div class="error-msg"><span class="glyphicon glyphicon glyphicon-remove"></span>
							<%= errors['inputAddr'] %></div> 
			<%}%>
					<div class="control-group">
					    <div class="controls <%= errors ? (errors['inputAddr'] ? 'has-error' : 'has-success') : '' %>">
					      <input class="form-control" type="text" id="inputTown" placeholder="Adresse" name="address" value="<%= campaign ? campaign.address : '' %>">
					    </div>
					</div>

			<% if (errors && errors['inputCity']) { %>
							<div class="error-msg"><span class="glyphicon glyphicon glyphicon-remove"></span>
							<%= errors['inputCity'] %></div> 
			<%}%>
					<div class="control-group">
					    <div class="controls <%= errors ? (errors['inputCity'] ? 'has-error' : 'has-success') : '' %>">
					      <input class="form-control" type="text" id="inputCity" placeholder="Ville" name="city" value="<%= campaign ? campaign.city : '' %>">
					    </div>
					</div>


			<% if (errors && errors['inputDesc']) { %>
							<div class="error-msg"><span class="glyphicon glyphicon glyphicon-remove"></span>
							<%= errors['inputDesc'] %></div> 
			<%}%>
					<div class="control-group">
					    <div class="controls <%= errors ? (errors['inputDesc'] ? 'has-error' : 'has-success') : '' %>">
					      <textarea class="form-control" name="desc" placeholder="Description"><%= campaign ? campaign.desc : '' %></textarea>
					    </div>
					</div>


			<% if (errors && errors['inputEngag']) { %>
							<div class="error-msg"><span class="glyphicon glyphicon glyphicon-remove"></span>
							<%= errors['inputEngag'] %></div> 
			<%}%>
					<div class="control-group">  
			    		<div class="controls <%= errors ? (errors['inputEngag'] ? 'has-error' : 'has-success') : '' %>">
			      			<textarea class="form-control" placeholder="Engagement du commercant" name="engagement"><%= campaign ? campaign.engagement : ''%></textarea>
			    		</div>
			  		</div>

					<div class="control-group">
			    		<div class="controls">
			    			<button type="submit" class="btn-submit"onClick="changeFormat()">Je deviens Carrotmobber !</button>
			    			</div>
			    	</div>
				</form>
			</div>
			<br/><br/><br/>
		</div>
	</div>
	
	<div class="bottom-shadow">
	</div>

</div>
<br/><br/><br/>
<%- partial('../partials/footer')%>


