<%- partial('../partials/header')%>

<div class="pageDetails">
    <div id="details">

        <img src="images/probono/details-cover.jpg" class='cover'>

        <div class='contentDetails'>

    <% _.each(campaign, function(c) { %>
            <h2>Carrotmob <%= c.title %></h2> 

        <p><%=c.desc%></p>

        <% var table = c.startDateStr.split(':');
            var date = table[0].split('/'); 
            var hours = table[1].split('/');

            var newDate = date[0] + "/" + date[1] + "/" + date[2] + " à " + hours[0] + ":" + hours[1];
        %>

        <%= newDate %><br/>
            <strong>Engagement : </strong>

            <p><%=c.engagement%></p>
            <img src="<%=c.image%>" class="img-rounded"><span> Organisé par <%=c.carrotmobberId%></span>
    <%});%>

        </div>
    </div>
</div>