extends ../layout

block fbmeta
    meta(property='og:title', content=c.title)
    meta(property='og:site_name', content='Carrotmob')
    meta(property='og:url', content='http://www.carrotmob.fr/campaign/details?id='+c.id)
    meta(property='og:description', content=c.desc)
    meta(property='og:image', content='http://www.carrotmob.fr/upload/images/campaign/cover/'+c.image)
    meta(property='fb:app_id', content='289471504541619')
    meta(property='og:locale', content='fr_FR')
    meta(property='og:type', content='article')
    meta(property='article:publisher', content='https://www.facebook.com/carrotmobfrance')
    meta(property='article:author', content=c.carrotmobber.firstname+' '+c.carrotmobber.lastname)

block body
    .container
        .event
            img(src='/upload/images/campaign/cover/'+c.image, width='100%')
            .e_infos
                h2= c.title
                - var table = c.startDateStr.split(' ')
                - var date = table[0].split('/')
                - var hours = table[1].split(':')
                - var newDate = date[0] + "/" + date[1] + "/" + date[2] + " à " + hours[0] + ":" + hours[1]
                - var calDate = date[2] + date[1] + date[0] + 'T' + hours[0] + hours[1] + '00'
                .location
                    span.pin
                        .town= c.address+' '+c.city
                        .date= newDate
                .btn-group
                    a.btn.btn-warning(href='/campaign/participate?id='+ c.id) Participer
                    a.btn.btn-warning(href='https://www.facebook.com/sharer.php?app_id=289471504541619&sdk=joey&u=http%3A%2F%2Fwww.carrotmob.fr%2Fcampaign%2Fdetails%3Fid%3D'+c.id+'&display=popup', target='_blank') Partager sur Facebook
                    a.btn.btn-warning(href='http://www.google.com/calendar/event?action=TEMPLATE&text=' + c.title + '&dates=' + calDate + '/' + calDate + '&details=' + c.desc.substring(0,100) + '...&location=' + c.address + ' ' + c.city + '&trp=false&sprop=website:http://www.carrotmob.fr', target='_blank', rel='nofollow') Ajouter à mon calendrier Google
                p= c.desc
                p!= '<strong>Engagement : </strong><br/>'+ c.engagement
                .contributor
                if c.carrotmobber.picture
                    img.img-rounded(src=c.carrotmobber.picture)
                span= ' Organisé par '+ c.carrotmobber.firstname + ' '+ c.carrotmobber.lastname + '. '
                if session && session.passport && session.passport.user
                    a.text-warning(href='/pad/view?campaign_id='+ c.id) Pad collaboratif
                    |  - 
                    a.text-warning(href='/calc/view?campaign_id='+c.id) Tableur collaboratif
                    if session && session.passport && session.passport.user && session.passport.user.admin
                        |  - 
                        if c.validated
                            a.text-warning(href='/campaign/desactivate?id='+c.id) Désactiver la campagne
                        else
                            a.text-warning(href='/campaign/activate?id='+c.id) Activer la campagne
        .bottom-shadow2