<%- partial('../partials/header')%>

<div class="pageDetails">
    <div id="details">


        <img src="images/probono/details-cover.jpg" class='cover'>

        <div class='contentDetails'>

            <h2>Carrotmob <%=campaign.title%></h2>

	    <% var table = c.startDateStr.split(':');
                                    var date = table[0].split('/'); 
                                    var hours = table[1].split('/');

                                    var newDate = date[0] + "/" + date[1] + "/" + date[2] + " à " + hours[0] + ":" + hours[1];
                                    %>
				   <p> <%=newDate%> </p>

	       <p><%=campaign.desc%></p>



            <strong>Engagement : </strong>

            <p><%=campaign.engagement%></p>
            <img src="<%=campaign.image%>" class="img-rounded"><span> Organisé par <%=campaign.carrotmobberId%></span>

        </div>
    </div>
</div>